* {
 font-family: "Consolas NF + LXGW WenKai Mono";
 font-size: 20px;
 src: url("/users/michael/Library/fonts/consolas-bold.ttf Consolas\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible\ -\ LXGW\ Wenkai\ 合并字体.ttf")
}

.Center {
            width:800px;
            height:800px;
            position: fixed;
            top: 30%;
            left: 30%;
        }
h2,h1 {
  color: blue;
}
